/*arquivo CSS genérico*/

p 
{
    color: #ff5f5f;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

body 
{
    background-color: oldlace;
}

*
{
    margin: 0;
    padding: 0%;
}

.container 
{
    width: auto; margin: 3px;
}

.effect
{
    background-color: rgba(0, 0, 0, 0.15);
}

h1 
{
    text-align: center;
    color: rgb(255, 14, 14);
    margin: 0 0 25px 0;
    text-shadow: 3px 3px 3px rgba(77, 6, 6, 0.863);
}

header
{
    background-color: #ffe4c4;
    height: auto;
    text-align: start
}

nav 
{
    background-color: rgb(231, 214, 192);
}

#corvocentralizado  
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#menu 
{
    float: right;
    font-size: 22px;
    margin-top: 25px;
}

#menu a
{
    text-decoration: none;
    color:rgb(252, 121, 121);
    text-shadow: 1px 1px 1px rgb(70, 70, 70);
    padding: 20px 20px;
}

#menu a:hover
{
    background-color: #dbb68a;
}

#logo 
{
    float: left;
}

#div1 
{
    background-image: url(IMG_20220303_214243.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-width: 1920px;
    min-height: 1200px;
    clear: both;
}

footer 
{
    background: bisque;
    clear: both;
    text-align: center;
    padding: auto;
    font-size: 16px;
}
